td {
    width: 30px;
    height: 30px;
    border: solid 1px black;
    text-align: center;
    font-size: 18px;
  }
  
  td:hover {
    background-color: #dbdbdb;
    cursor: pointer;
  }
  
#mensajePantalla{
    width: 300px;
    max-height: 381px;
    padding: 15px;
    border: 1px solid rgb(206, 206, 206);
    background-color: rgb(235, 235, 235);
    overflow-y: scroll;
}
